uid nslcd
gid nslcd

uri ldap://${AD_HOST}
base ${AD_BASE_DN}

binddn ${AD_BIND_DN}
bindpw ${AD_BIND_PW}

scope sub
referrals no

# Only AD users in the target group are visible to this container.
# For nested groups, swap memberOf= for memberOf:1.2.840.113556.1.4.1941:=
filter passwd (&(objectClass=user)(memberOf=${AD_GROUP_DN}))
map    passwd uid           sAMAccountName
map    passwd uidNumber     primaryGroupID
map    passwd gidNumber     primaryGroupID
map    passwd homeDirectory "/home/vsftpd"
map    passwd gecos         displayName
map    passwd loginShell    "/usr/sbin/nologin"

filter shadow (&(objectClass=user)(memberOf=${AD_GROUP_DN}))
map    shadow uid           sAMAccountName
